@font-face {
  font-family: 'uaarmylabels';
  src:
    local('uaarmylabels Regular'),
    local('uaarmylabels-Regular'),
    url('/fonts/uaarmylabels.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
